<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/spring-applicationContext.xml</param-value> <!-- 加载hibernate和spring配置文件位置 -->
	</context-param>

	<!-- <context-param>
		<param-name>IgniteConfigurationFilePath</param-name>
		<param-value>../config/ignite/jdbc-config.xml</param-value>
	</context-param> -->
	
	<context-param>
		<param-name>IgniteConfigurationFilePath</param-name>
		<param-value>jdbc-config.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>IgniteWebSessionsCacheName</param-name>
		<param-value>stoneCache</param-value>
	</context-param>


	<!-- ContextLoaderListener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.stone.webapp.config.listener.WebServerListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.stone.webapp.config.listener.PrivateHttpSessionListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.apache.ignite.startup.servlet.ServletContextListenerStartup</listener-class>
	</listener>

	<!-- servlet.DispatcherServlet -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-servlet.xml</param-value>	<!-- 加载spring servlet配置文件位置 -->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.stone.webapp.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>IgniteWebSessionsFilter</filter-name>
		<filter-class>org.apache.ignite.cache.websession.WebSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IgniteWebSessionsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter> <filter-name>springSecurityFilterChain</filter-name> <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
		</filter> <filter-mapping> <filter-name>springSecurityFilterChain</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->
	<!-- spring字符集过滤器 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 连接池 启用 Web 监控统计功能 start -->
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value> *.js ,*.gif ,*.jpg ,*.png ,*.css ,*.ico ,/druid/*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<!-- 连接池 启用 Web 监控统计功能 end -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
