<?xml version="1.0" encoding="UTF-8"?>
<!-- Bean头部 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd              
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
            
	<!-- 对包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 需要更改 -->
	<context:component-scan base-package="com.stone.webapp.controller" />
    <mvc:annotation-driven />

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/jsp/</value>	<!-- 根据项目要求修改 -->
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<!-- 静态资源映射 -->
	<mvc:resources location="/static/" mapping="/static/**"/>
	<!-- 静态资源映射 -->
	<mvc:resources location="/files/" mapping="/files/**"/>
	
	<mvc:interceptors>  
        <!-- 多个拦截器，顺序执行 -->  
        <mvc:interceptor>  
            <mvc:mapping path="/**"/>  
            <mvc:exclude-mapping path="/**/static/**"/>
            <bean class="com.stone.webapp.interceptor.RequestInterceptor"></bean>  
        </mvc:interceptor>  
    </mvc:interceptors>
</beans>
